{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

  <div class="col-sm-10">
      <h2 class="font-weight-bolder m-4 text-white">About Page</h2>
      <div>
          <p style="text-indent: 70px;" class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis animi libero, numquam, accusantium blanditiis inventore repellendus pariatur illo accusamus porro alias dolores? Blanditiis harum qui, nihil assumenda deleniti laboriosam id!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis animi libero, numquam, accusantium blanditiis inventore repellendus pariatur illo accusamus porro alias dolores? Blanditiis harum qui, nihil assumenda deleniti laboriosam id!</p>
          <p class="text-justify" style="text-indent: 70px;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nesciunt incidunt possimus tenetur neque recusandae accusamus reprehenderit temporibus, ea, modi illo ipsam impedit voluptas cum fugit fugiat eaque voluptates quo! Tempore nostrum laborum molestias ratione dolore corrupti amet placeat itaque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nesciunt incidunt possimus tenetur neque recusandae accusamus reprehenderit temporibus, ea, modi illo ipsam impedit voluptas cum fugit fugiat eaque voluptates quo! Tempore nostrum laborum molestias ratione dolore corrupti amet placeat itaque.
          </p>
      </div>
  </div>

{% endblock content %}